//Color variables
$blue01: #3592c7;
$blue02: #61b4db;
$blue03: #016baf;
$blue04: #CFE8FF;
$blue05: #00253D;

$red01: #e21d38;

$yellow01:#fcee22;
$yellow02:#fff9ae;

$purple01:#8f4c9d;

$white:#ffffff;

$black:#000000;